* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primaryColor: rgb(216, 36, 36);
	--mainWhite: #fff;
	--offWhite: #f7f7f7;
	--mainBlack: #222;
	--mainGrey: #ececec;
	--darkGrey: #cfcfcf;
	--mainTransition: all 0.3s linear;
	--mainSpacing: 3px;
}
/* globals */
body {
	padding-top: 33px;
	color: var(--mainBlack);
	background: var(--mainWhite);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.4;
}
h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}
h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}

.btn-primary {
	display: inline-block;
	text-decoration: none;
	letter-spacing: var(--mainSpacing);
	color: black;
	background: var(--primaryColor);
	border: 1px solid var(--primaryColor);
	transition: var(--mainTransition);
	text-transform: uppercase;
	cursor: pointer;
}

.btn-primary:hover {
	background: transparent;
	color: var(--primaryColor);
}

.lgn-btn {
	font-size: 21px;
	padding: 5px 20px;
	border: 0;
	background-color: rgb(216, 36, 36);
	color: white;
	border-radius: 4px;
	transition: all 200ms ease-in-out;
	cursor: pointer;
}

.lgn-btn:hover {
	background-color: rgb(151, 22, 22);
}

.lgn-btn:focus {
	outline: none;
}

/* end of globals */
/* Navbar */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.35rem 2rem;
	background: var(--mainWhite);
	z-index: 1;
}
.nav-header {
	display: flex;
	justify-content: space-between;
}
.nav-btn {
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}
.nav-icon {
	font-size: 1.5rem;
	color: var(--primaryColor);
}

.nav-links {
	height: 0;
	overflow: hidden;
	transition: var(--mainTransition);
	list-style-type: none;
}
.nav-links a {
	display: block;
	text-decoration: none;
	padding: 1rem 0;
	color: var(--mainBlack);
	transition: var(--mainTransition);
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
	color: var(--primaryColor);
}

.show-nav {
	height: 200px;
}
@media screen and (min-width: 768px) {
	.nav-btn {
		display: none;
	}
	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
	}
	.nav-links {
		height: auto;
		display: flex;
		margin-left: 45rem;
	}
	.nav-links a {
		margin: 0 1rem;
		padding: 0.5rem 0;
	}
}
/* end of navbar */

/* Hero */
.defaultHero,
.itemsHero {
	min-height: calc(100vh - 33px);
	background: url("./images/defaultBackground.jpg") center/cover no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

.itemsHero {
	min-height: 70vh;
	background: url("./images/itemBackground.jpg") center/cover no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

.landHeroBk {
	min-height: 100vh;
	background: url("./images/defaultBackground.jpg") center/cover no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.landHeroReg {
	min-height: calc(100vh - 33px);
	background: url("./images/lndMenuBck.jpg") center/cover no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.landHeroW {
	min-height: 70vh;
	background-color: var(--offWhite);
	display: flex;
	align-items: center;
	justify-content: center;
}
/* End of Hero */
/* Banner */
.banner {
	display: inline-block;
	background: rgba(1, 0, 0, 0.5);
	color: var(--mainWhite);
	padding: 2rem 1rem;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}

.banner h1 {
	font-size: 2.5rem;
}

.banner div {
	width: 10rem;
	height: 5px;
	background: var(--primaryColor);
	margin: 1.7rem auto;
}

.banner p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}
/* End of Banner */
/* Landing Page */
.whole-screen {
	min-height: calc(100vh);
}
.bbb-logo {
	position: absolute;
	margin-bottom: 18rem;
	display: block;
	height: 300px;
	background-color: white;
	border-radius: 50%;
	left: 37%;
	top: 20%;
}
.landingH1 {
	position: absolute;
	top: 75%;
	color: black;
	font-size: 3rem;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.menu {
	flex-grow: 1;
}
.menu:hover {
	opacity: 0.8;
}
.contact {
	flex-grow: 1;
}
.contact:hover {
	opacity: 0.8;
}

/* End of Landing Page */
